[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
pygame = "*"
pytmx = "*"
colorlog = "*"
pygame-gui = "*"
pygame-widgets = "*"
pytweening = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "python main.py"
lint_fix = "autopep8 --aggressive --aggressive --in-place -r -v ."
lint = "pylint"
map_editor = "python map_editor"
